<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ua.lorien.facedetection"
          android:versionCode="1"
          android:versionName="1.0">

    <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face" />
</manifest>
